h1, h2, h3, h4, h5, h6{
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    //margin: 20px 0 15px;
}
p{
    line-height: 2;
    font-size: 1.8rem;
}
ul, ol{
    font-size: 1.8rem;
}
img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    //max-height: 450px;
}